.ad-card {
    max-width: 600px;
    width: 600px;
    margin-bottom: 15px;
  }
.ad-card-content {
    min-height: 300px;
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }