<mat-card class="ad-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Тестовое Имя</mat-card-title>
      <mat-card-subtitle>Днепр, +380671756688</mat-card-subtitle>
    </mat-card-header>   
    <mat-card-content class="ad-card-content">
      <p>
        Тестовое описание для заявки
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button class="btn btn-primary" mat-button>Откликнуться</button>
    </mat-card-actions>
  </mat-card>
