/PT/PT.Migrations/bin
/PT/PT.Migrations/obj
/PT/PT.Identity/bin
/PT/PT.Identity/obj
/PT/PT.Data/bin
/PT/PT.Data/obj
/PT/PT.Core/bin
/PT/PT.Core/obj
/PT/PT.ClientAPI/bin
/PT/PT.ClientAPI/obj
/PT/PT.BuildingBlocks/bin
/PT/PT.BuildingBlocks/obj
/PT/PT.AuthorizeAPI/bin
/PT/PT.AuthorizeAPI/obj
/PT/.vs
/PT/PT.Infrastructure/bin
/PT/PT.Infrastructure/obj
bin
obj
.vs
