@import '../../../assets/styles.scss';
.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
    color: inherit;
    background: transparent;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}

.material-icons {
    font-size: 24px;
    font-family: 'Material Icons', 'Material Icons';
}

.flexExpand {
    flex: 1 1 auto;
  }

.pt-nav-button {
    padding-top: 8px;
}

.auto-height {
    height: auto;
}

.pt-main-content {
    min-height: 100%;
    position: fixed;
    min-width: 100%;
    background-color: $light-background;
}

.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: visible;
}